.container {
    width: 1400px;
    margin: 0 auto;
    height: 92px;
    .off {
        text-align: center;
    }

    .navbar-control {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        position: relative;

        .bars {
            display: none;
        }
        .dropdown:hover {
            color: #dbd7e0;
            transform: translateY(20px) translateX(-10px);
            box-shadow: 3px 3px 30px rgba(118, 96, 168, 0.17);
        }
        .dropdown {
            height: 400px;
            overflow: hidden;
            width: 0px;
            position: absolute;
            right: 0;
            top: 20px;
            transition: 0.3s;
            color: #e3dfe9;
            font-size: 18px;
            background-color: white;
            box-shadow: 3px 3px 3px rgba(118, 96, 168, 0.2);
            border-radius: 15px;
            display: inline-block;
            cursor: pointer;
            transition: transform 0.2s ease, box-shadow 0.2s ease,
                color 0.2s ease;
            .dropdown a :checked {
                padding-left: 35px;
            }
            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 100%;

                padding-left: 20px;
            }
        }
        #check {
            display: none;
        }
        #check:checked + .dropdown {
            width: 200px;
        }

        .navbar_list {
            display: flex;
            justify-content: space-between;
            width: 600px;
            .icon {
                display: flex;
                gap: 16px;
            }
        }
    }
}
@media (max-width: 1450px) {
    .container {
        width: 900px;
        margin: 0 auto;
        height: 92px;
    }
}
@media (max-width: 950px) {
    .container {
        width: 600px;
        margin: 0 auto;
        height: 92px;

        .navbar-control {
            .bars {
                display: block;
            }
            .navbar_list {
                display: none;
            }
        }
    }
}
@media (max-width: 650px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}
